*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
#main {
    min-height: 100vh;
    width: 100%;
    background-color: lightpink;
    padding: 30px 30px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 5px 10px 25px red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50px;
    
}

.card button{
    font-size: 25px;
    padding: 7px 22px;
    margin-top: 15px;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0.852);
    border: 2px none ;
    cursor: pointer;
}

.card button:hover{ 
    border-radius: 50px;
    background-color: transparent;
    color: blue;
    border: 3px solid blue;
    cursor: pointer; 
    overflow: hidden;
}
